body{
    font-family: "League Spartan", sans-serif;
    Font-size: 15px;
    height: 100vh;
    /* display: flex; */
}
 .header > p { 
    color: hsl(303, 10%, 53%);
  }


.container{
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    /* width: 1440px; */
    justify-content: center;
    height: 100vh;
    /* align-items: center; */
    align-content: center;
    /* color: white; */
}

h1{
    font-size: 35px;
    color: hsl(300, 43%, 22%);
}

.contained1{
    display: flex;
    /* width: 90%; */
    /* background-color: aqua; */
    margin-bottom: 5rem;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.header > p{
    width: 60%;
}
.rated{
    margin: 5px;
}
.rated{
    display:flex;
    flex-direction: column;
    /* margin-left:  50px; */
    margin-top: 20px;
    
    


}

.rev1{
    background-color: hsl(300, 24%, 96%);
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
    
}

.rev2 {
    background-color: hsl(300, 24%, 96%);
    /* left: 10px; */
    /* position: relative;
    left: 40px; */
    display: flex;
    margin-left: 40px;
    align-items: center;
    height: 30px;
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;

}
.rev3{
    
   display: flex;
   margin-left: 80px;
   align-items: center;
   height: 30px;
   
   padding: 5px;
   width: 300px;
   margin-bottom: 10px;
background-color:hsl(300, 24%, 96%);
}


.contained2{
    display: flex;
    width: 90%;
    /* background-color: aquamarine; */
    justify-content: center
;
    
}

.card{
   
    background-color: hsl(300, 43%, 22%);
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    color: hsl(300, 24%, 96%) ;
    max-width: 300px;
    min-width: 200px;
    min-height: 150px;
    max-height: 200px;
    align-items: center;
    
}
.card > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-top:-2=3px;
    margin-right: 10px;
    
}
h2{
    /* margin-bottom: 0px;
    margin-left: 60px;
    font-size: 15px; */
    /* margin-left: 10px; */
    margin: auto 0 5px auto;
    

}
.verified{
    margin: 0px 0px 0px 60px;
    color: hsl(333, 80%, 67%) ;
    

}


.clear{
    clear: both;
    margin: 10px;
    padding: 10px;
}






